---
---

<!-- Sticky button at the bottom that likns to download My CV -->

<a href="/assets/cv.pdf" download aria-label="CV"
 class="fixed right-8 bottom-8 z-50 w-fit flex justify-center items-center p-4 font-medium text-background bg-primary rounded-full perfect-shadow " data-astro-cid-bbe6dxrz="">
    CV
    <div class="z-[-1] bg-gradient-to-b from-secondary via-primary to-primary absolute w-[calc(100%-4px)] h-[calc(100%-4px)] rounded-full border-t-2 border-secondary"></div>
</a>



<!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="0" width="0" aria-hidden="true">
    <defs>
      <filter id="rough_edges">
        <feTurbulence type="fractalNoise" baseFrequency=".2"></feTurbulence>
        <feDisplacementMap in="SourceGraphic" scale="8"></feDisplacementMap>
      </filter>
    </defs>
  </svg>

  <style>
    .rough-edges {
        filter: url(#rough_edges);
        will-change: transform;
    }
  </style> -->