---
/*
  Mockup images are provided by shots.so
  Link: https://shots.so/
*/
// Section projet TODO : a changer

import Image from "astro/components/Image.astro";
import Icon from "../components/ui/Icon/Icon.astro";
import Hero from "../components/Hero.astro";
import RepoList from "../components/RepoList/RepoList";

---




<section
  class="relative overflow-hidden bg-foreground w-full text-center flex flex-col justify-center items-center gap-10 px-16 py-24 sm:py-24 select-none"
>
<RepoList client:load />

</section>

<style>
  .group:hover .animate-vertical-slide {
    animation-play-state: paused;
  }
</style>


<!-- <script>
fetch("https://gh-pinned-repos-tsj7ta5xfhep.deno.dev/?username=NaimDeb");
  .then()



</script> -->
